<section class="christmas_products_section">
  <div class="christmas_products_continer">
    <h2 class="christmas_products_Title">
      {{ section.settings['maim-christmas_products_Title'] }}
    </h2>
    <div class="christmas_products_Flex">
      {%- assign product_form_id = 'product-form' | append: section.id -%}
              {% assign collection = collections[settings.upsell_coll] %}
              {% for p in collection.products %}
          <div class="christmas_products_box">
            <div class="christmas_products_box_flex">
                {% if section.settings.main-christmas_products_box_Logo !=blank %}
                <img class="christmas_products_box_Logo" src="{{ section.settings.main-christmas_products_box_Logo |img_url:'master' }}">
                {% endif %}

            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
