<style>
      .service_area_section_golime {
        padding-top: 160px;
    padding-bottom: 40px;
  }

  .container_service_area_golime {
    width: 100%;
    max-width: 1337px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .flex_service_area_golime {
        display: flex
  ;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .left_service_area_golime {
   width: 46%;
  }

  .left_service_area_golime_h1 {
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 15px;
      color: #333;
  }

  .left_service_area_golime p {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 0;
      color: #454545;
      line-height: 1.4;
  }

  .postal_code_box_golime {
    position: relative;
  }
  .postal_code_box_golime_flex {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  .postal_code_box_golime_input {
  width: 100%;
      padding: 14px 100px 14px 50px;
      border-radius: 50px;
      border: 1px solid #d9d9d9 !important;
      box-shadow: none !important;
      outline: 0 !important;
  }

  .postal_code_box_golime_input_button {
      position: absolute;
      right: 7px;
      top: 7px;
  }

  .golime_find_btn {
    background: #70bc0e;
      border: 0 !important;
      outline: 0 !important;
      box-shadow: none !important;
      color: #fff;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1;
      padding: 7px 16px;
      border-radius: 50px;
      cursor: pointer;
          line-height: 1;

  }

  .find-btn:hover {
    background: #76a62f;
  }

  .error-box {
    background: #fdeaea;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #f5c2c2;
    color: #b30000;
    font-size: 14px;
  }

  .error-box p {
    margin: 0;
    font-weight: bold;
  }

  .left_service_area_golime_span {
    display: block;
    margin-top: 5px;
    color: #b30000;
  }

  .right_service_area_golime {
    width: 46%;
  }

  .right_service_area_golime iframe {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .postal_code_box_golime_input_box{
        width: 100%;
      line-height: 1;
  }

  i.fa-solid.fa-magnifying-glass{
      color: #949494;
      font-size: 14px;
  }

  .postal_code_box_golime_icon_box {
      line-height: 1;
      position: absolute;
      left: 20px;
      top: 15px;
  }
</style>
<section class="service_area_section_golime">
  <div class="container_service_area_golime">
    <div class="flex_service_area_golime">
      <div class="left_service_area_golime">
        <h1 class="left_service_area_golime_h1">
          {{ section.settings.Sub_left_service_area_golime_h1 }}
        </h1>
        <p>
          {{ section.settings.Para_left_service_area_golime }}
        </p>

        <div class="postal_code_box_golime">
          <div class="postal_code_box_golime_flex">
            <div class="postal_code_box_golime_icon_box">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="postal_code_box_golime_input_box">
              <input class="postal_code_box_golime_input" type="text" placeholder="Enter approved postal code only">
            </div>
            <div class="postal_code_box_golime_input_button">
              <button class="golime_find_btn">{{ section.settings.main_golime_find_btn }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="right_service_area_golime">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5706851.399759042!2d-95.99306821878126!3d50.40870058171169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cd443c105b5ee29%3A0x3ec85c3e4f775f8f!2sOntario%2C%20Canada!5e0!3m2!1sen!2sca!4v1693928289921!5m2!1sen!2sca"
          width="100%"
          height="350"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Section Golime Map And",
  "settings": [
    {
    "type": "text",
    "id": "Sub_left_service_area_golime_h1",
    "label": "Top Heading"
    },
    {
    "type": "richtext",
    "id": "Para_left_service_area_golime",
    "label": "Top Para Golime"
    },
    {
    "type": "text",
    "id": "main_golime_find_btn",
    "label": "Button Golime"
    }
  ],
  "presets": [
    {
    "name": "Section Golime Map And Text"
    }
  ]
}
{% endschema %}
